.center {
  display: flex;
  justify-content: center;
}

.center-button {
  text-align: center;
}

.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.hide-of {
  overflow: hidden;
}