.center {
  display: flex;
  justify-content: center;
}

.center-button {
  text-align: center;
}

.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.hide-of {
  overflow: hidden;
}

.list-group-item .btn.btn-xs {
  margin-left: 5px;
  min-width: 20px;
}

.fa-heart {
  color: #d9534f;
}

.fa-star {
  color: #f0ad4e;
}

.fa-circle {
  color: gold;
}
