.navbar-fixed-top {
  border: 0;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}


@media (max-width: 767px) {
  .navbar-nav {
    margin: 5px -15px;
  }
}

.navbar .navbar-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-pills {
  display: flex;
  justify-content: center;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.progress {
  height: 20px;
}

.list-group-item .btn.btn-xs {
  margin-left: 5px;
  min-width: 20px;
}

.options .btn {
  padding: 5px 10px;
  margin: 0;
}

.options .btn .fa {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.popover-title {
  color: #000;
}