#info-bar {
  margin-top: 50px;
  z-index: 1029;
}

@media (min-width: 768px) {
  #info-bar {
    margin-top: 60px;
    height: 60px;
  }
}

#info-bar li {
  float: right !important;
}

#info-bar li a {
  cursor: default;
  padding-left: 5px;
  padding-right: 5px;
}