.profile {
  margin-top: -20px;
}

.character-info {
  background: #E0E0E0;
}

.character-info .character-container {
  border: solid 1px #000;
}

.character-info .toggle {
  border-radius: 0;
  position: absolute;
  z-index: 20;
  margin: 0;
}

.character-info .equipment-toggle {
  right: 0;
  top: 0;
}

.character-info .inventory-toggle {
  bottom: 0;
  width: 100%;
}
/* --------------------------------------------- */

/* Character details transitions */
@media (max-width: 767px) {
  #character-details .equipment-entering {
    max-height: 300px;
  }

  #character-details .equipment-entered {
    max-height: 300px;
  }

  #character-details .equipment-exiting {
    max-height: 0;
  }

  #character-details .equipment-exited {
    max-height: 0;
    visibility: hidden;
  }

  #character-details .animate-character-stats {
    transition: max-height 500ms ease-in;
  }
}

@media (min-width: 768px) {
  #character-details .equipment-exiting {
    width: 0;
  }

  #character-details .equipment-exited {
    width: 0;
    visibility: hidden;
  }

  #character-details .animate-character-stats {
    transition: width 500ms ease-in;
  }
}
/* --------------------------------------------- */

/* Stats styles */
.stats-container {
  border: solid 1px #000;
  padding: 10px;
  height: 250px;
}

.stats-container h3 {
  margin-top: 0;
}

.progress {
  position: relative;
}

.progress-bar > span {
  color: #000;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.current-workout-container {
  margin: 50px 0 50px 0;
}