.nav-pills {
  display: flex;
  justify-content: center;
}

.social-buttons {
  margin: 0 auto 20px auto;
  max-width: 250px;
}

.social-buttons .row {
  margin-bottom: 10px;
}

.profile {
  margin-top: -20px;
}

.character-window {
  border: solid 1px #000;
  float: left;
  position: relative;
  width: 100%;
}

.profile img {
  margin: auto;
}

.equipment-toggle {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}

.equipment {
  background: white;
  float: left;
  border: solid 1px #000;
  width: 100%;
}

.stats {
  border: solid 1px #007bb6;
  padding: 10px;
}

#character-details .equipment-exiting {
  width: 0;
}

#character-details .equipment-exited {
  width: 0;
  visibility: hidden;
}

#character-details .animate-width {
  transition: width 500ms linear;
}