
#header{
  background-image: url('landing-page.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#howitworksPanel {
  background-color: rgba(148, 134, 115, 0.4);
  color: white;
}