.equipment-container {
  border: solid 1px #000;
  box-sizing: border-box;
  height: 250px;
}

.equipment-container .character-sprites {
  height: 192px;
  width: 144px;
}

.equipment-container .character-background-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.equipment-container .character-background {
  height: 192px;
  width: 120px;
}

.equipment-container .item-container-head {
  top: 32px;
}

.equipment-container .item-container-chest {
  top: 90px;
}

.equipment-container .item-container-leftHand {
  right: 0;
  top: 100px;
}

.equipment-container .item-container-rightHand {
  left: 0;
  top: 100px;
}

.equipment-container .item-container:hover {
  background: #666;
  cursor: pointer;
  z-index: 12;
}